= form_for @note do |f|
  = error_explanation f.object

  .form-group
    = f.label :body_id
    = f.collection_select :body_id, current_user.family.bodies, :id, :nickname, {prompt: true}, {class: 'form-control'}

  .form-group
    = f.label :noted_at
    = f.datetime_local_field :noted_at, class: 'form-control'

  .form-group
    = f.label :detail
    = f.text_area :detail, class: 'form-control', rows: 10
    %small.form-text.text-muted
      #{Note::DETAIL_LENGTH_MAXIMUM}文字まで入力できます

  .form-group
    = f.submit class:'btn btn-primary'
