.row
  .col-md-12
    - note_count = body.notes.count
    %h3= link_to "#{body.nickname} (#{note_count}メモ)", body
    .row
      = (render partial: 'thumbnail', collection: body.notes.latest(3), as: :note) || (render 'no_notes')
    - if note_count > 3
      %p.text-right
        = link_to '続きを見る...', body
