%h1 メモ一覧

- preview_count = 3
- current_user.family.bodies.each do |body|
  - note_count = body.notes.count
  %h3= link_to "#{body.nickname} (#{note_count}メモ)", body
  - if note_count == 0
    %p
      メモはまだありません
  - else
    %table
      %thead
        %tr
          %th noted_at
          %th body
          %th detail
          %th
      %tbody
        - body.notes.first(preview_count).each do |note|
          %tr
            %td= note.noted_at
            %td= note.body.nickname
            %td= note.detail
            %td= link_to 'Show', note
    = link_to 'もっと見る', body if note_count > preview_count
  %br
