= form_for @body do |f|
  = error_explanation f.object

  .form-group
    = f.label :nickname
    = f.text_field :nickname, class: 'form-control'

  .form-group
    = f.submit class: 'btn btn-primary'
