%h1 Listing bodies

%table
  %thead
    %tr
      %th Nickname
      %th Family
      %th
      %th
      %th

  %tbody
    - @bodies.each do |body|
      %tr
        %td= body.nickname
        %td= body.family
        %td= link_to 'Show', body
        %td= link_to 'Edit', edit_body_path(body)
        %td= link_to 'Destroy', body, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Body', new_body_path
