.row
  .col-md-12
    .page-header
      %h1
        = "#{@body.nickname}さんのからだメモ"

- if @notes.empty?
  .row
    = render 'notes/no_notes'
- else
  %nav.navbar.navbar-default
    .container-fluid
      .collapse.navbar-collapse
        .navbar-form.navbar-left
          .form-group
            = label_tag 'year', '記録日'
            = year_filter_select_tag(@body, @year, class: 'form-control')
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to new_note_path(body_id: @body.id) do
              = fa_icon :plus, text: 'メモを追加する'
  .row.row-eq-height
    = (render partial: 'notes/thumbnail', collection: @notes, as: :note)

= paginate @notes
