.row.justify-content-center
  .col-4
    .page-header
      %h1
        = t('.sign_in')

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = devise_error_messages!

      .form-group
        = f.email_field :email, class: 'form-control', autocomplete: 'email', placeholder: t('activerecord.attributes.user.email')

      .form-group
        = f.password_field :password, class: 'form-control', placeholder: t('activerecord.attributes.user.password')

      .form-group.form-check
        - if devise_mapping.rememberable?
          = f.check_box :remember_me, class: 'form-check-input'
          = f.label :remember_me, class: 'form-check-label'

      .form-group
        = f.submit t('.sign_in'), class: 'btn btn-primary'

      %div
        = render 'users/shared/links'
