.row
  .col-md-6.col-md-offset-3
    .page-header
      %h1
        家族設定
        %small
          = "#{current_user.nickname}さん"
    %h3
      家族一覧
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            ニックネーム
      %tbody
        - @family.members.each do |member|
          %tr
            %td= member.nickname

    = link_to new_user_invitation_path do
      = fa_icon :plus, text: '家族を招待する'

    %hr

    - if @family.invitee?
      %h5
        現在招待中の方
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              メールアドレス
            %th
              招待日時
            %th
              操作
        %tbody
          - @family.invitees.each do |member|
            %tr
              %td= member.email
              %td= member.invitation_sent_at
              %td= link_to 'キャンセル', member, method: :delete,
                data: { confirm: 'よろしいですか？' }
      %hr

    %h3
      からだ一覧
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            ニックネーム
          %th
            メモの数
          %th
            操作
      %tbody
        - @family.bodies.each do |body|
          %tr
            %td= body.nickname
            %td= body.notes.count
            %td= link_to '編集', edit_body_path(body)

    = link_to new_body_path do
      = fa_icon :plus, text: 'からだを追加する'
