/ Navigation
%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    = link_to 'からだメモ', root_path, class: 'navbar-brand'
    %button.navbar-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': '#main-navbar-collapse', 'aria-expanded': 'false', 'aria-label': 'ナビゲーションの切替' }
      %span.navbar-toggler-icon

    / Collect the nav links, forms, and other content for toggling
    #main-navbar-collapse.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to root_path, class: 'nav-link' do
            = fa_icon 'home', text: 'ホーム'
      %ul.navbar-nav
        - if user_signed_in?
          %li.nav-item
            = link_to bodies_path, class: 'nav-link' do
              = fa_icon 'sticky-note', text: 'メモを見る'
          %li.nav-item
            = new_note_header_link(current_user.family.bodies)
          %li.nav-item.dropdown
            %a#navbar-dropdown.nav-link.dropdown-toggle{href: '#', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              = current_user.nickname
            .dropdown-menu{'aria-labelledby': 'navbar-dropdown'}
              = link_to 'アカウント', edit_user_registration_path, class: 'dropdown-item'
              = link_to '家族設定', family_path, class: 'dropdown-item'
              - if current_user.admin?
                .dropdown-divider
                = link_to 'サイト管理', admin_root_path, class: 'dropdown-item', target: '_blank'
              .dropdown-divider
              = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item'
        - else
          %li.nav-item
            = link_to 'ログイン', new_user_session_path, class: 'nav-link'

#bodySelectionsModalArea
  - if user_signed_in?
    = render 'bodies/select_modal'
