/ Navigation
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{type: 'button', 'data-toggle': 'collapse', 'data-target': '#main-navbar-collapse', 'aria-expanded': 'false'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'からだメモ', root_path, class: 'navbar-brand'

    / Collect the nav links, forms, and other content for toggling
    #main-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to root_path do
            =glyphicon(:home)
            ホーム
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to notes_path do
              =glyphicon(:list)
              メモを見る
          %li
            =link_to new_note_path do
              =glyphicon(:pencil)
              メモする
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              = current_user.nickname
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'アカウント', edit_user_registration_path
              %li= link_to '家族設定', family_path
              %li.divider{role: 'separator'}
              %li= link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'ログイン', new_user_session_path
